@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&family=Sixtyfour+Convergence&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&family=Protest+Strike&family=Sixtyfour+Convergence&display=swap');

:root {
    --color-1: #9DE4CE;
    --color-2: #3a38387c;
    --color-3: #F2EB8D;
    --color-4: #F2B199;
    --color-5: #b87aff;
    --color-0: #615656;
    --color-text-claro: #c2acac;
    --span: #ff3769;
    --transparente: #ff376900;
    --fumê: #b972fc1a;
}

*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    display: flex;
    background-image: url("../image/bg_body_resp.png");
    flex-direction: column;
    color: var(--color-0);
    overflow-x: hidden;
}



.container_cabecalho {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 9vh;
    top: 0;
    margin: 0;
    z-index: 2;
    background-image: url("../image/bg_body2.png");
    box-shadow:
        #4b494a6c 0px 5px 35px,
        #f7f7f7 0px -5px 10px,
        #4b494a6c 0px 1px 6px,
        #f7f7f7 0px 7px 13px,
        #4b494a6c 0px -3px 5px;
}

.titulo__cabecalho {
    width: 50vw;
    height: auto;
    padding: 1.5;
    font-size: 1.5rem;
    font: normal bolder 2em 'Zilla Slab';
    text-align: left;
    margin: 0;
    color: var(--color-0);
}

.material-icons {
    display: flex;
    width: 9vw;
    font-size: 1.5em;
    font-family: 'Material Icons';
    justify-content: center;
    align-items: center;
    background-color: var(--span);
    cursor: pointer;
    border-radius: 0.3em;
    border: 0.5px solid #444444c5;
    margin-bottom: 1.5%;
    text-align: right;
}

.navegador {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 15vh;
    justify-content: center;
    align-items: center;
}

.lista_cabecalho {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 0vh;
    align-items: center;

}

.nav_item {
    display: flex;
    color: var(--color-1);
    width: 50vw;
    align-items: center;
    justify-content: center;
    background-image: url("../image/bg_body_resp.png");
    border-radius: 0.5em;
}

.pink,
.yellow,
.orange,
.green {
    display: flex;
    width: 25vw;
}

.link_nav {
    display: flex;
    font-size: 1em;
    width: 50vw;
    align-items: center;
    text-decoration: none;
    list-style: none;
    padding: 2%;

}

.container__apresentacao {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.text_apresentacao {
    display: flex;
    position: relative; 
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font: normal normal 1.2em 'Protest Strike';
    width: 90vw;
    height: auto;
    padding: 3%;
    margin-bottom: 10vh;
}

.obs {
    position: relative; /* Necessário para o posicionamento do tooltip dentro do span */
    display: inline-block; /* Para que o tooltip apareça corretamente */
    cursor: pointer; /* Para indicar que é interativo */
}

.tooltip-text {
    visibility: hidden; /* Oculta o tooltip por padrão */
    width: 20vw; /* Largura do tooltip */
    background-color: #333333b7; /* Cor de fundo */
    color: var(--color-1); /* Cor do texto */
    text-shadow: 1px 1px 1px var(--span) ;
    text-align: center; /* Centraliza o texto */
    border-radius: 1em; /* Bordas arredondadas */
    padding: 8px; /* Espaçamento interno */
    position: absolute; /* Posiciona o tooltip em relação ao pai */
    z-index: 1; /* Garante que o tooltip fique acima de outros elementos */
    bottom: 50%; /* Posiciona o tooltip acima do texto */
    left: 200%; /* Centraliza o tooltip */
    transform: translateX(-30%); /* Alinha o tooltip ao centro */
    opacity: 0; /* Oculta o tooltip */
    transition: opacity 0.3s; /* Efeito de transição */
  
}

.obs:hover .tooltip-text {
    visibility: visible; /* Torna visível ao passar o mouse */
    opacity: 1; /* Apresenta com opacidade */
    font: normal normal 0.5em 'arial';
}

.destaque {
    font: normal normal 1em 'Protest Strike';
    color: var(--color-0);
    transition: font 1s ease, color 1s ease, transform 1s ease;
}

.destaque:hover {
    font: normal bolder 1.2em 'Londrina Sketch';
    color: var(--color-0);
    transform: scale(1.05);
    padding: 5%;
}

.contato__icon {
    display: flex;
    font-size: 4rem;
    padding: 2px;
    color: var(--color-5);
    border-radius: 50%;
    width: 50px;
    align-items: center;
    justify-content: center;
}

.lista__contato {
    text-decoration: none;
    list-style: none;
}

.contato__icon {
    display: flex;

}

.foto-miriam {
width: 80%;
    background-color: var(--background);
    min-height: 90px;
    border: 0.7em solid var(--color-1);
    border-radius: 1em;
    margin: calc(10vh - 10px) auto 0 auto;
    box-shadow:
        5px -5px 0 -3px var(--color-2), 10px -10px var(--color-2),
        10px -10px 0 -3px var(--color-5), 10px -10px var(--color-5),
        20px -20px 0 -3px var(--color-4), 20px -20px var(--color-4),
        30px -30px 0 -3px var(--color-3), 30px -30px var(--color-3),
        40px -40px 0 -3px var(--color-0), 40px -40px var(--color-0);
    transition: box-shadow 0.7s, top 0.7s, left 0.7s;
    cursor: pointer;
}

.foto-miriam:hover {
    top: -40px;
    left: 40px;
    box-shadow: 0 0 0 -3px var(--color-1), 0 0 0 0 var(--color-1),
        0 0 0 -3px var(--color-2), 0 0 0 0 var(--color-2),
        0 0 0 -3px var(--color-3), 0 0 0 0 var(--color-3),
        0 0 0 -3px var(--color-4), 0 0 0 0 var(--color-4);
}

.sessão_2 {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    background-color: var(--color-3);
    margin: 10vh auto;
    padding: 7%;
}

.container_sobre_mim {
    display: flex;
    width: 70vw;
    height: auto;
    margin: auto;
    padding: 1%;
    align-items: center;
    justify-content: center;
    font: normal normal 0.9rem "arial";
    border-radius: 1em;
    color: var(--color-0);
    flex-direction: column;
    background-image: url("../image/bg_body_resp.png");
    box-shadow: var(--color-5) 0px 0px 0px 2px inset, var(--color-5) 10px -10px 0px -3px,
        var(--color-1) 10px -10px, var(--color-5) 20px -20px 0px -3px,
        var(--color-1) 20px -20px, var(--color-5) 30px -30px 0px -3px,
        var(--color-1) 30px -30px, var(--color-5) 40px -40px 0px -3px,
        var(--color-1) 40px -40px;
}

.img_sobre_mim{
float: left;
margin: 2%;
border-radius: 0.5em;
}

.titulo_sobre_mim {
    width: 50vw;
    margin: 2vh auto;
    color: var(--color-text-white);
    font: normal normal 2em 'Zilla Slab';
}

.text_sobre_mim {
    display: block;
    text-align: justify;
    width: 90vw;
}

.sobre_mim p {
    margin: 1% 3%;
    text-align: justify;
}

/* ______________________________sessão projetos__________________________ */
.sessao_3{
    background-color: var(--color-2);
    width: 100%;
    margin: auto;
    padding:1%;
}


.container_projetos {
    display: flex;
    width: 85vw;
    flex-wrap: wrap;
    margin: 15% auto;
    gap: 100px;
    
}

.sessao_3 h1 {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.container_projetos h1 {
    display: block;
    font: normal normal 2em 'Zilla Slab';
}

.projeto_item {
    flex-grow: 1;

    border-radius: 1em;
    background-color: var(--color-1);
    width: 34vw;
    min-height: 80px;
    border: 3px solid var(--color-2);
    padding: 15px;
    box-shadow:
        var(--color-5) 0px 0px 0px 2px inset,
        var(--color-5) 10px -10px 0px -3px,
        var(--color-1) 10px -10px,
        var(--color-5) 20px -20px 0px -3px;
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
    text-decoration: none;
    list-style: none;

}

.projeto_item:hover {
    transition: font 0.5s ease, color 0.5s ease, transform 0.5s ease;
    transform: scale(1.02);
    background-color: var(--color-5);
}

.img_container {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    text-align: center;
}

.img_projeto {
    float: left;
    margin: 1%;
    grid-area: 1/ 1/ 3/ 2;
}

.descricao_item {
    grid-area: 2 / 2 / 3 / 3;
    font-size: 14px;
    color: #444444;
    font: normal normal 0.95em 'arial';
    line-height: 3vh;
    text-align: justify;
}

.links_card {
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
    justify-content: space-around;
    align-items: center;
}


.link_card {
    border-radius: 0.5em;
    padding: 2%;
    width: 15vw;
    color: var(--color-0);
    font: normal border 1em 'arial';
    background-color: var(--color-3);
    text-align: center;
    text-decoration: none;
    border: 1px solid var(--color-0)
}

.link_card:hover {
    background-color:var(--color-1);
    color: var(--color-0);
    border-radius: 2em;
}

form {
    display: flex;
    flex-direction: column;
    width: 80vw;
    min-height: 90px;
    border: 0.7em solid var(--color-1);
    border-radius: 1em;
    margin: calc(10vh - 10px) auto 0 auto;
    box-shadow:
        5px -5px 0 -3px var(--color-2), 10px -10px var(--color-2),
        10px -10px 0 -3px var(--color-5), 10px -10px var(--color-5),
        20px -20px 0 -3px var(--color-4), 20px -20px var(--color-4),
        30px -30px 0 -3px var(--color-3), 30px -30px var(--color-3),
        40px -40px 0 -3px var(--color-0), 40px -40px var(--color-0);
    transition: box-shadow 0.7s, top 0.7s, left 0.7s;
    cursor: pointer;
}

.form_item{
    display: flex;
    flex-direction: row;
    margin: auto;
}

label {
    font: normal normal 1em 'arial';
    display: flex;
    width: 16vw;
}

input {
    width: 50vw;
    height: 4vh;
    margin: 2% auto
}

textarea{
    width: 50vw;
    height: 10vh;
    margin: 2% auto
}


.contato {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
}

.titulo_contato{
    font: normal normal 2em 'Zilla Slab';
}

.lista__contato {
    display: flex;
    justify-content: space-around;
}

button {
    width: 7vw;
    background-color: #A0A676; 
    color: white; 
    padding: 0.5vh 1vw;
    border: 0.3vw solid #A0A676;
    border-radius: 0.5em; 
    cursor: pointer;
    font-size: 1.5vw; 
    box-shadow: 0 0.6vh 0.9vh #00000033;
    transition: all 0.3s ease;
    text-align: right;
    margin: auto;
  }
  
  button:hover {
    background-color: #A0A676;
    box-shadow: 0 0.9vh 1.2vh #0000004d;
  }

/* ____________________________________________________________________________________________________________ */
/* ____________________________________________________________________________________________________________ */
@media (min-width: 768px) {

    .container_cabecalho {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 18vh;
        margin: 0;
        position: fixed;
    
        align-items: center;
        z-index: 2000;
        background-color: #4b3046;
        color: var(--color-1);

    }

    .material-icons {
        display: none;
    }

    .titulo__cabecalho {
        display: flex;
        font: normal bolder 2em 'Zilla Slab';
        margin-left: 5%;
    }

    .navegador {
        display: flex;
    }

    .lista_cabecalho {
        display: flex;
        flex-direction: row;
        width: 70vw;
        justify-content: space-around;
        z-index: 0;
    }

    .nav_item {
        display: flex;
        color: var(--color-1);
        width: 16vw;
        height: 5vh;
        align-items: center;
        justify-content: center;
        margin: 4vw;
        color: var(--color-0);
    }

    .link_nav {
        display: flex;
        width: 7vw;
        margin: 0px;
        padding: 5%;
    }

    .pink,
    .yellow,
    .orange,
    .green {
        width: 8em;
        height: auto;
    }

    .pink:hover,
    .yellow:hover,
    .orange:hover,
    .green:hover {
        transition: font 0.5s ease, color 0.5s ease, transform 0.5s ease;
        transform: scale(1.2);
    }

    .main {
        width: 100%;
        display: flex;
        background-color: var(--color-3);
    }

    .img_container{
        width: 25%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5vh;
        text-align: center;
    }

    .container__apresentacao {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-top: 5%;
        font: normal normal 1em 'Protest Strike';
    }

    .container__apresentacao p {
        width: 28vw;
        font-size: 2rem;

    }

    .titulo_apresentacao {
        display: flex;
        width: 30vw;
        font: normal normal 2em 'Zilla Slab';
    }

    .text_apresentacao {
        padding: 0;
        width: 25vw;
        margin: 0 5%;

        .destaque {
            font: normal normal 1em 'Protest Strike';
            color: var(--color-0);
            transition: font 1s ease, color 1s ease, transform 1s ease;
        }

        .destaque:hover {
            font: normal bolder 1.3em 'Londrina Sketch';
            color: var(--span);
            transform: scale(1.03);
            background-color: var(--color-1);
            padding: 1%;
            border-radius: 0.5em;
        }

    }

    .foto-miriam {

        border: 0.7em solid var(--color-1);
        border-radius: 1em;
        margin: calc(20vh - 5vw) auto 0 auto;
        box-shadow:
            5px -5px 0 -3px var(--color-2), 10px -10px var(--color-2),
            10px -10px 0 -3px var(--color-5), 10px -10px var(--color-5),
            20px -20px 0 -3px var(--color-4), 20px -20px var(--color-4),
            30px -30px 0 -3px var(--color-3), 30px -30px var(--color-3),
            40px -40px 0 -3px var(--color-0), 40px -40px var(--color-0);
        transition: box-shadow 0.7s, top 0.7s, left 0.7s;
        top: 0;
        left: 0;
        cursor: pointer;
        transform: translateY(0px);
        animation: float 5s ease-in-out infinite;
    }

    @keyframes float {
        0% {
            transform: translateY(0px);
        }

        50% {
            transform: translateY(-30px);
        }

        100% {
            transform: translateY(0px);

        }

    }

    .foto-miriam:hover {
        top: -40px;
        left: 40px;
        box-shadow: 0 0 0 -3px var(--color-1), 0 0 0 0 var(--color-1),
            0 0 0 -3px var(--color-2), 0 0 0 0 var(--color-2),
            0 0 0 -3px var(--color-3), 0 0 0 0 var(--color-3),
            0 0 0 -3px var(--color-4), 0 0 0 0 var(--color-4);
    }

    .sessão_2 {
        display: flex;
        height: 90vh;
        justify-content: center;
        align-items: center;
        margin: auto;
    }


    .titulo_sobre_mim {
        color: var(--color-text-white);
        font: normal normal 2em 'Zilla Slab';
    }

    .text_sobre_mim {
        width: 30vw;
        color: var(--color-text-white);
        height: 40vh;
        margin: auto;
    }

    .text_sobre_mim p {
        width: 50vw;
        color: var(--color-text-white);
        height: 10vh;
        margin-top: 1vh auto;
        font: normal normal 1em 'arial'
    }

    .contato {
        width: 5vw;
        margin-left: 10%;
        color: var(--color-4);

    }

    .contato ul {
        width: 50vw;
        gap: 10px;
        flex-direction: column;
    }

    .contato__icon {
        display: flex;
        font-size: 4rem;
        padding: 2px;
        color: var(--color-5);
        border-radius: 50%;
        width: 50px;
        align-items: center;
        justify-content: center;
    }

    .sessao_3 {
        margin: 5% 0;
    }

    .titulo_projetos {
        font: normal normal 2em 'Zilla Slab';
    }

    .container_projetos {
        display: flex;
        width: 90vw;
        flex-wrap: wrap;
        margin: 5% auto;
        gap: 40px;
    }

    .projeto_item {
        flex-grow: 1;
        border-radius: 1em;
        background-color: var(--color-1);
        width: 25vw;
        min-height: 80px;
        border: 3px solid var(--color-2);
        padding: 15px;
        box-shadow:
            var(--color-5) 0px 0px 0px 2px inset,
            var(--color-5) 10px -10px 0px -3px,
            var(--color-1) 10px -10px,
            var(--color-5) 20px -20px 0px -3px;
        position: relative;
        top: 0;
        left: 0;
        cursor: pointer;
        text-decoration: none;
        list-style: none;
    }

    .img_projeto {
        float: left;
        margin: 1%;
    }

    .links_card {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .link_card {
        border-radius: 0.5em;
        padding: 2%;
        width: 5vw;
        color: var(--color-0);
        font: normal border 1em 'arial';
        background-color: var(--color-3);
        text-align: center;
        text-decoration: none;
    }

    .link_card:hover {
        background-color:var(--span);
        color: var(--color-4);
        border-radius: 2em;
    }

    form {
        width: 80vw;
        margin: auto;
        margin-top: 25vh;
        padding: 20px;
        border: 0.7em solid var(--color-1);
        background-color: var(--background);
        border-radius: 1em;
        box-shadow:
            5px -5px 0 -3px var(--color-2), 10px -10px var(--color-2),
            10px -10px 0 -3px var(--color-5), 10px -10px var(--color-5),
            20px -20px 0 -3px var(--color-4), 20px -20px var(--color-4),
            30px -30px 0 -3px var(--color-3), 30px -30px var(--color-3),
            40px -40px 0 -3px var(--color-0), 40px -40px var(--color-0);
        transition: box-shadow 0.7s, top 0.7s, left 0.7s;
        cursor: pointer;

    }

    .form_item{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: auto;
        width: 80%;
    }

    label {
        display: inline-block;
        width: 100px;
    }

    input {
        width: calc(100% - 120px);
        margin-bottom: 10px;
    }

    textarea {
        width: calc(86%);
        margin-bottom: 2vw;
    }

      
      







    .footer {
        display: flex;
        flex-direction: column;
        margin-top: 20vh;
        width: 100vw;
        align-items: center;
    }
}