html,
body {
    width: 100%;
    display: flex;
    background-image: url("../image/bg_body_resp.png");
    flex-direction: row;
    color: black;
}

header {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 18vw;
    left: 0px;
    margin: 0;
    background-image: url(/image/bg_body.png);
    box-shadow: rgba(243, 81, 205, 0.25) 0px 50px 100px -20px, rgba(238, 143, 195, 0.3) 0px 30px 60px -30px, rgba(163, 7, 124, 0.35) 0px -2px 6px 0px inset;
    align-items: center;
}

.titulo__cabecalho {
    transform: rotate(-90deg);
    margin-top:20vh;
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
}

.material-icons {
    margin-top: 90px;
    margin-bottom: 10px;
    font-size: 2rem;
}

.lista_cabecalho {
    display: flex;
    flex-direction: column;
    width: 100px;
}

.nav_item {
    display: flex;
    color: white;
    width: 20vw;
    align-items: center;
    justify-content: center;
}

.pink,
.yellow,
.orange,
.green {
    display: flex;
    width: 25vw;
    height: 5vh;
}

.link_nav {
    display: flex;
    flex-direction: column;
    color: white;
    text-decoration: none;
    align-items: center;
    margin-left: -30px;
}

.container__apresentacao {
    display: flex;
    width: 100%;
    flex-direction: column;                                                                                                                                                  
}

.lista__contato {
    text-decoration: none;
    list-style: none;
}

.contato__icon {
    display: none;
}

.container {
    margin: 0px;
}

.post__it {
    width: 70vw;
    height: auto;
    position: relative;
    z-index: 1;
    margin: 0;
}

.post-desk {
    width: 100vw;
    height: auto;
}


.foto-miriam {
    display: flex;
    width: 60vw;
    transform: rotate(0deg);
}

/* ____________________________________________________________________________________________________________ */
/* ____________________________________________________________________________________________________________ */
@media (min-width: 768px) {

    .container_cabecalho {
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 18vh;
        top: 0px;
        position: fixed;
        justify-content: flex-start;

    }

    .contato__icon {
        display: flex;
        width: 4vw;
        animation: float 3s ease-in-out infinite;
    }

    .lista_cabecalho {
        display: flex;
        flex-direction: row;
        width: 100px;
        justify-content: space-between;
    }

    .nav_item {
        display: flex;
        color: white;
        width: 16vw;
        height: 5vh;
        align-items: center;
        color: white;
        justify-content: center;
        margin: 4vw;
    }

    .titulo__cabecalho {
        display: flex;
        transform: rotate(0deg);
        font-size: 3rem;
        margin: 2%;
    }

    .navegador {
        display: flex;
    }

    .link_nav {
        width: 7vw;
        margin: 0px;
    }

    .pink,
    .yellow,
    .orange,
    .green {
        width: 150px;
    height: auto;
    }
    .contato{
        display: flex;
        flex-direction: column;
        left: 0;
    }

    .lista__contato{
        display: flex;
        width: 10vw;
        flex-direction: column;
        align-items:start;
    }
    .container__apresentacao {
        display: flex;
        top: 30vh;
        width: 100%;
        flex-direction: row;
        position: relative;
        justify-content: space-around;
        margin-left: 0;
    }

    .post__it {
        width: 30vw;
    }

    .foto-miriam {
        width: 30vw;
        transform: rotate(-3deg);
    }

    .material-icons {
        display: none;
    }

}