@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap')


html,
body {
    width: 100%;
    display: flex;
    background-image: url("../image/bg_body_resp.png");
    flex-direction: row;
    color: black;
}

header {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 18vw;
    left: 0px;
    margin: 0;
    background-image: url(/image/bg_body.png);
    box-shadow: rgba(243, 81, 205, 0.25) 0px 50px 100px -20px, rgba(238, 143, 195, 0.3) 0px 30px 60px -30px, rgba(163, 7, 124, 0.35) 0px -2px 6px 0px inset;
    align-items: center;
}

.titulo__cabecalho {
    transform: rotate(-90deg);
    margin-top: 20vh;
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
}

.material-icons {
    margin-top: 90px;
    margin-bottom: 10px;
    font-size: 2rem;
}

.lista_cabecalho {
    display: flex;
    flex-direction: column;
    width: 100px;
}

.nav_item {
    display: flex;
    color: white;
    width: 20vw;
    align-items: center;
    justify-content: center;
}

.pink,
.yellow,
.orange,
.green {
    display: flex;
    width: 25vw;
    height: 5vh;
}

.link_nav {
    display: flex;
    flex-direction: column;
    color: white;
    text-decoration: none;
    align-items: center;
    margin-left: -30px;
}

.container__apresentacao {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.lista__contato {
    text-decoration: none;
    list-style: none;
}

.contato__icon {
    display: none;
}

.container {
    margin: 0px;
}

.post__it {
    width: 70vw;
    height: auto;
    position: relative;
    z-index: 1;
    margin: 0;
}

.post-desk {
    width: 100vw;
    height: auto;
}


.foto-miriam {
    display: flex;
    width: 60vw;
    transform: rotate(0deg);
}

/* ____________________________________________________________________________________________________________ */
/* ____________________________________________________________________________________________________________ */
@media (min-width: 768px) {

    .container_cabecalho {
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 18vh;
        /* Altura do cabeçalho */
        top: 0;
        position: fixed;
        justify-content: flex-start;
        z-index: 2000;
        background-color: black;
        color: aliceblue;
        background-size: cover;
        /* Faz a imagem cobrir todo o cabeçalho */
        background-position: center;
        /* Centraliza a imagem */
        background-repeat: no-repeat;
        /* Impede que a imagem se repita */
    }

    .titulo__cabecalho {
        display: flex;
        transform: rotate(0deg);
        font-size: 3rem;
        margin: 2%;
    }

    .lista_cabecalho {
        display: flex;
        flex-direction: row;
        width: 100px;
        justify-content: space-between;
        z-index: 0;
    }

    .nav_item {
        display: flex;
        color: white;
        width: 16vw;
        height: 5vh;
        align-items: center;
        color: white;
        justify-content: center;
        margin: 4vw;
    }

    .navegador {
        display: flex;
    }

    .link_nav {
        width: 7vw;
        margin: 0px;
    }

    .pink,
    .yellow,
    .orange,
    .green {
        width: 150px;
        height: auto;



    .pink,
    .yellow,
    .orange,
    .green:hover {
            box-shadow: 1px 1px firebrick,
                        2px 2px firebrick, 
                        3px 3px firebrick,
                        4px 4px firebrick,
                        5px 5px firebrick,
                        6px 6px firebrick,
                        2px 2px firebrick;
            transform: translateX(-3px);
          }
    }

    .main {
        width: 100vw;
        display: flex;
        flex-direction: column;
    }

    .container__apresentacao {
        flex: 1;
        margin-top: 25vh;
        width: 100vw;
        flex-direction: row;
        justify-content: center;
    }

    .sobre_mim {
        display: flex;
        flex-direction: row;
        width: 50vw;
        margin: auto;
        margin: 30vh auto 30vh auto;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-direction: row;
        font: normal normal 0.9rem "arial";
        box-shadow: black 0px 0px 0px 2px inset, rgb(0, 0, 0) 10px -10px 0px -3px, rgb(255, 255, 255) 10px -10px, rgb(0, 0, 0) 20px -20px 0px -3px, rgb(255, 255, 255) 20px -20px, rgb(0, 0, 0) 30px -30px 0px -3px, rgb(255, 255, 255) 30px -30px, rgb(0, 0, 0) 40px -40px 0px -3px, rgb(255, 255, 255) 40px -40px;
    }

    .titulo_sobre_mim {
        width: 10vw;
        text-align: justify;
        margin-left: 15vw;
        margin-right: 15vw;
    }

    .par_sobre_mim {

        text-align: justify;
        margin-left: 5vw;

    }

    .contato__icon {
        display: flex;
        width: 4vw;
        margin-bottom: 5%;
        border-radius: 50%;
    }


    .contato__icon:hover {
        box-shadow: 1px 1px rgb(0, 0, 0),
        2px 2px rgb(255, 255, 255), 
        3px 3px rgb(0, 0, 0),
        4px 4px rgb(255, 255, 255),
        5px 5px rgb(0, 0, 0),
        6px 6px rgb(255, 255, 255),
        7px 7px rgb(0, 0, 0),
        8px 8px rgb(255, 255, 255);
        transform: translateX(-3px);
      }

    .lista__contato {
        display: flex;
        flex-direction: column;
        width: 10vw;
        align-items: normal;

    }


    .post__it {
        width: 30vw;
    }

    .foto-miriam {
        width: 30vw;
        transform: rotate(-3deg);
    }

    .material-icons {
        display: none;
    }

}